<h4>Hola a mi home</h4>
<div class="container">
    <h6>Lista de clientes</h6>
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(c => { %>
                <tr>
                    <td><%= c.id_cliente %></td>
                    <td><%= c.nombre %></td>
                    <td><%= c.email %></td>
                    <td><%= c.telefono %></td>
                    <td><%= c.direccion %></td>
                    <td><a href="/<%=c.id_cliente%>">Ver</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>